
<launch>
  <arg name="hand_name"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find allegro_hand_controllers)/config/controllers.yaml" command="load" ns="$(arg hand_name)" subst_value="true"/>

   <!-- load the controllers -->
  <node name="controller_spawner_hand" pkg="controller_manager" type="spawner" respawn="false" ns="$(arg hand_name)" args="joint_state_controller joint_ff_controller"  output="screen"/>
</launch>