<launch>
  <arg name="chirality" doc="left|right depending on the model used"/>
  <arg name="hand_name"/>

  <!-- Load the robot description directly from the xacro file. -->
  <param name="gazebo/robot_description"
         command="$(find xacro)/xacro
                  $(find allegro_hand)/urdf/allegro_hand_on_stand.urdf.xacro
                  chirality:=$(arg chirality)
                  prefix:=$(arg hand_name)"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find allegro_hand_description)/worlds/allegro.world"/>
    <arg name="debug" value="false" />
    <arg name="paused" value="true"/>
    <arg name="physics" value="dart"/>
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
  args="-urdf -model $(arg hand_name) -param gazebo/robot_description"/>
</launch>
