<launch>
  <!--
      Visualization of the allegro hand using rviz. Can be launched separately
      or by including it in another launch file.
  -->

  <arg name="HAND_NAME" default='allegr_hand'/>

  <node name="rviz_$(arg HAND_NAME)"
        pkg="rviz" type="rviz"
        args="-d $(find allegro_hand_description)/allegro_hand_config.rviz" >
  </node>

</launch>
